.tag {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 20px;
  padding: 5px 10px;
}

.s {
  font-size: 12px;
  line-height: 12px;
}

.m {
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--grey-light);
}

.red {
  font-weight: 600;
  background-color: #de0000;
  color: var(--white);
}

.grey {
  font-weight: 600;
  background-color: #b3c0d9;
  color: var(--white);
}
.green {
  color: var(--lightGreen);
  background-color: var(--green);
  font-weight: 600;
}
.primary {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}
