html,
body {
  color: var(--black);
  background: #f5f6f8;
  font-family: var(--font-family);
}

:root {
  --black: #3b434e;
  --grey-light: #ebebeb;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #594a92;
  --red: #fc836d;
  --green: #1dc37e;
  --lightGreen: #c8f8e4;
  --font-family: "Noto Sans KR", sans-serif;
}
